body{
    background-color: yellow;
    
}

h1 {
    text-align: center;
}

.container {
    width: 80%;
    margin: 0 auto; 
    background-color: #f2f2f2;
    padding: 20px; 
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
  }




  